<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Wpf_BankDBManager.Properties.Settings.DataBaseSampleOneConnectionString"
            connectionString="Data Source=MSI\SQLXERXES;Initial Catalog=DataBaseSampleOne;Persist Security Info=True;User ID=sa;Password=Gosia704"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>